{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <!-- if breadcrumb is single--><a href="#">Home</a>
  </li>
  <li class="breadcrumb-item">
    <!-- if breadcrumb is single--><a href="#">Components</a>
  </li>
  <li class="breadcrumb-item active"><span>Charts</span></li>
{% endblock breadcrumb %}

{% block content %}
  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="row row-cols-2">
        <div class="col">
          <div class="card mb-4">
            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Line</span></div>
            <div class="card-body">
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-203" role="tab">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                    </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                    </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-203">
                    <div class="c-chart-wrapper">
                      <canvas id="canvas-1"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Bar</span></div>
            <div class="card-body">
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-467" role="tab">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                    </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                    </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-467">
                    <div class="c-chart-wrapper">
                      <canvas id="canvas-2"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Doughnut</span></div>
            <div class="card-body">
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1095" role="tab">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                    </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                    </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1095">
                    <div class="c-chart-wrapper">
                      <canvas id="canvas-3"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Radar</span></div>
            <div class="card-body">
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-632" role="tab">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                    </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                    </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-632">
                    <div class="c-chart-wrapper">
                      <canvas id="canvas-4"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Pie</span></div>
            <div class="card-body">
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-301" role="tab">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                    </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                    </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-301">
                    <div class="c-chart-wrapper">
                      <canvas id="canvas-5"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header"><strong>Chart</strong><span class="small ms-1">Polar Area</span></div>
            <div class="card-body">
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-323" role="tab">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play"></use>
                    </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://www.chartjs.org/" target="_blank">
                    <svg class="icon me-2">
                      <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code"></use>
                    </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-323">
                    <div class="c-chart-wrapper">
                      <canvas id="canvas-6"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/charts.js' %}"></script>
{% endblock js %}